{% extends "base.htm" %}

{% block head_css %}
  p { padding: 0; margin: 5px; }
  form table { text-align: left; }
  table { margin: 5px auto; }
  #tabs { margin: 30px auto; width: 400px; text-align: center; }
  #sign-up-alert, #sign-in-alert { padding: 0 5px; }
  #sign-up-alert p span, #sign-in-alert p span { float: left; }
  #login-btn, #reg-btn { padding: 5px 25px; font-size: 12px; text-decoration: none; position: relative; }
  #login-btn span, #reg-btn span { position: absolute; left: 5px; top: 5px; }
  #reg-avatar-btn-wrapper img { width: 100px; height: 130px; }
{% endblock %}

{% block head_javascript %}
function show_error_msg( alertbox, msg )
{
  alertbox.html( '<p><span class="ui-icon ui-icon-alert"></span>' + msg + '</p>' ).show();
}

var uploader;

$(function(){
  $( '#sign-up-alert, #sign-in-alert' ).hide();

  $( '#tabs' ).tabs();

  $( '#login-btn, #reg-btn' ).hover(
    function() { $( this ).addClass( 'ui-state-hover' ); },
    function() { $( this ).removeClass( 'ui-state-hover' ); }
  );

  $( '#login-btn' ).click( function() {
    alertbox = $( '#sign-in-alert' );
    if( $( '#name' ).val() == '' || $( '#pass' ).val() == '' )
    {
      show_error_msg( alertbox, 'Username and password cannot be empty' );
      return;
    }

    alertbox.hide();
    $( '#login-form' ).submit();
  } );

  $( '#reg-btn' ).click( function() {
    alertbox = $( '#sign-up-alert' );
    if(  $( '#reg-name' ).val() == '' || $( '#reg-pass' ).val() == ''
      || $( '#reg-title' ).val() == '' || $( '#reg-team' ).val() == '' )
    {
      show_error_msg( alertbox, 'All fields are required' );
      return;
    }
    if( $( '#reg-pass' ).val() != $( '#reg-pass-again' ).val() )
    {
      show_error_msg( alertbox, 'Passwords are NOT identical' );
      return;
    }

    alertbox.hide();
    $( '#reg-form' ).submit();
  } );

  uploader = new SWFUpload( {
    upload_url : '/account/upload_img/',
    flash_url  : '/static/js/swfupload.swf',

    file_size_limit : '2 MB',
    file_upload_limit: 1,
    file_types : '*.jpg;*.png;*.gif',
    file_types_description : 'All Images',

    file_dialog_complete_handler : function( number ) {
      if( number == 1 )
        uploader.startUpload();
      },
    upload_success_handler : function( file, data ) {
      eval( 'data_obj = (' + data + ')' );
      if( data_obj.result == 'PASS' )
        $( '#reg-avatar-btn-wrapper' ).html(
          '<img src="/static/upload/'
          + data_obj.filename
          + '" alt="Avatar" title="Avatar"/>' );
      },

    button_placeholder_id : 'reg-avatar-btn',
    button_image_url : '/static/reg-avatar-btn.png',
    button_width : 61,
    button_height: 22
    } );
});
{% endblock %}

{% block content %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-sign-in">Sign In</a></li>
    <li><a href="#tabs-sign-up">Sign Up</a></li>
  </ul>
  <div id="tabs-sign-in">
    <form id="login-form" action="/account/sign_in/" method="post">
      <div id="sign-in-alert" class="ui-state-error ui-corner-all"></div>
      <table>
        <tr><td>Username</td><td><input type="text" id="name" name="name" maxlength="30"/></td></tr>
        <tr><td>Password</td><td><input type="password" value="" id="pass", name="pass"/></td></tr>
      </table>
      <p><a href="#" id="login-btn" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-key"></span>Login</a></p>
    </form>
  </div>
  <div id="tabs-sign-up">
    <form id="reg-form" action="/account/sign_up/" method="post">
      <div id="sign-up-alert" class="ui-state-error ui-corner-all"></div>
      <table>
        <tr>
          <td>Username</td>
          <td><input type="text" id="reg-name" name="reg-name" maxlength="30"/></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" id="reg-pass" name="reg-pass"/></td>
        </tr>
        <tr>
          <td>Re-Password</td>
          <td><input type="password" id="reg-pass-again" name="reg-pass-again"/></td>
        </tr>
        <tr>
          <td>Title</td>
          <td><input type="text" id="reg-title" name="reg-title"/></td>
        </tr>
        <tr>
          <td>Team</td>
          <td><input type="text" id="reg-team" name="reg-team"/></td>
        </tr>
        <tr>
          <td>Avatar</td>
          <td id="reg-avatar-btn-wrapper"><span id="reg-avatar-btn"></span></td>
        </tr>
      </table>
      <p><a href="#" id="reg-btn" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-pencil"></span>Register</a></p>
    </form>
  </div>
</div>
{% endblock %}
