{% extends "base.htm" %}

{% block head_css %}
  p { padding: 0; margin: 5px; }
  form table { text-align: left; }
  table { margin: 5px auto; }
  #tabs { margin: 30px auto; width: 400px; text-align: center; }
  #sign-up-alert, #sign-in-alert { padding: 0 5px; }
  #sign-up-alert p span, #sign-in-alert p span { float: left; }
  #login-btn, #reg-avatar-btn, #reg-btn { padding: 5px 25px; font-size: 12px; text-decoration: none; position: relative; }
  #login-btn span, #reg-avatar-btn span, #reg-btn span { position: absolute; left: 5px; top: 5px; }
{% endblock %}

{% block head_javascript %}
$(function(){
  $( '#shadow, #sign-up-alert, #sign-in-alert' ).hide();

  $( '#tabs' ).tabs();

  $( '#upload-image' ).dialog( {
    autoOpen: false,
    width: 600,
    buttons: {
      'Upload' : function() {
        $( '#shadow' ).hide();
        $( this ).dialog( 'close' );
      },
      'Cancel' : function() {
        $( '#shadow' ).hide();
        $( this ).dialog( 'close' );
      }
    }
  } );

  $( '#login-btn, #reg-btn, #reg-avatar-btn' ).hover(
    function() { $( this ).addClass( 'ui-state-hover' ); },
    function() { $( this ).removeClass( 'ui-state-hover' ); }
  );

  $( '#login-btn' ).click( function() {
    $( '#login-form' ).submit();
  } );

  $( '#reg-avatar-btn' ).click( function() {
    $( '#shadow' ).show();
    $( '#upload-image' ).dialog( 'open' );
  } );

  $( '#reg-btn' ).click( function() {
    $( '#reg-form' ).submit();
  } );
});
{% endblock %}

{% block content %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-sign-in">Sign In</a></li>
    <li><a href="#tabs-sign-up">Sign Up</a></li>
  </ul>
  <div id="tabs-sign-in">
    <form id="login-form" action="/account/sign_in/" method="post">
      <div id="sign-in-alert" class="ui-state-error ui-corner-all"></div>
      <table>
        <tr><td>Username</td><td><input type="text" id="name" name="name" maxlength="30"/></td></tr>
        <tr><td>Password</td><td><input type="password" value="" id="pass", name="pass"/></td></tr>
      </table>
      <p><a href="#" id="login-btn" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-key"></span>Login</a></p>
    </form>
  </div>
  <div id="tabs-sign-up">
    <form id="reg-form" action="/account/sign_up/" method="post">
      <div id="sign-up-alert" class="ui-state-error ui-corner-all"></div>
      <table>
        <tr>
          <td>Username</td>
          <td><input type="text" id="reg-name" name="reg-name" maxlength="30"/></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" id="reg-pass" name="reg-pass"/></td>
        </tr>
        <tr>
          <td>Re-Password</td>
          <td><input type="password" id="reg-pass-again" name="reg-pass-again"/></td>
        </tr>
        <tr>
          <td>Title</td>
          <td><input type="text" id="reg-title" name="reg-title"/></td>
        </tr>
        <tr>
          <td>Team</td>
          <td><input type="text" id="reg-team" name="reg-team"/></td>
        </tr>
        <tr>
          <td>Avatar</td>
          <td><p><a href="#" id="reg-avatar-btn" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Upload from my computer...</a></p></td>
        </tr>
      </table>
      <p><a href="#" id="reg-btn" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-pencil"></span>Register</a></p>
    </form>
  </div>
</div>

<div id="shadow" class="ui-widget-overlay"></div>

<div id="upload-image" title="Uploading avatar...">
<p>Please choose your avatar:</p>
<input type="file" accept="image/*"/>
</div>
{% endblock %}
